
Java/.metadata/.log
Java/.metadata/.log
*.xmi
*.snap
*.snap
*.resources
*.snap
Java/RemoteSystemsTempFiles/.project
Java/.metadata/.log
*.prefs
*.index
*.index
Java/.metadata/.plugins/org.eclipse.jdt.core/1470073441.index
Java/.metadata/.plugins/org.eclipse.jdt.core/1408211338.index
Java/.metadata/.log
*.jar
*.index
*.xml
